@import 'jeet'
@require '../../assets/css/variables'



.wrapper
	width 100%
	
	h1
		margin-top: 0
		padding-top: 7vh
		margin-bottom: 7vh
		text-align: center
	
	object
		center(100%,pad:5%)
		width: 30vw
		margin-bottom: 7vh
		
	.subjects
		center(100%,pad:5%)
		text-align: center
	
	.subject
		
		col(1/5, gutter: .5)
		h2
			margin-bottom: 8%
		&:nth-child(1)
			h2
				color econ-blue
		&:nth-child(2)
			h2
				color health-pink
		&:nth-child(3)
			h2
				color power-brown
		&:nth-child(4)
			h2
				color drugs-green
		&:nth-child(5)
			h2
				color family-orange
	