@import 'jeet'
//edit()
@require '../../assets/css/variables'

.wrapper
	span(0.9)
	
	.menu
		center(90%, pad: 10%)
		.subject
			column(1/5, gutter:0)
			text-align: center
			img
				width 55px
			&:hover
				cursor: pointer
			
			object
				/deep/
					svg
						width: 50px !important

				