
bg-grey 		= #f2f2f2
light-grey		= #949494
dark-grey 		= #4c4c4c
econ-blue 		= rgba(120, 173, 181, 1)
health-pink 	= rgba(208, 134, 146, 1)
power-brown		= rgba(149, 134, 122, 1)
drugs-green		= rgba(174, 200, 137, 1)
family-orange	= rgba(239, 153, 98, 1)