@import 'jeet'

chart
	display	block
	span(3/4)
	min-height 100vh
	background-color: #4abdac
	position: absolute
	bottom: 0
	canvas
		position: absolute
		bottom: 0

button
	position: absolute
	z-index 1