@import '../../../node_modules/jeet/stylus/jeet/index.styl'
//s@require '../../../node_modules/rupture/rupture/index.styl'
@require '../../assets/css/variables'

.wrapper
	display	block
	span(1)
	:host /deep/
		canvas
			min-height 70vh
			+tablet(orientation:landscape)
				min-height 60vh

			+mobile(orientation:landscape)
				min-height 80vh

			+tablet(orientation:portrait)
				min-height 60vh

			+mobile(orientation:portrait)
				min-height 45vh

button
	position: absolute
	z-index 1
