@import '../../../node_modules/jeet/stylus/jeet/index.styl'
@require '../../../node_modules/rupture/rupture/index.styl'
@require '../../assets/css/variables'

.wrapper
	display	block
	span(1)
	:host /deep/
		canvas
			min-height 70vh
	+tablet(orientation:landscape)
		:host /deep/
			canvas
				min-height 60vh

	+tablet(orientation:portrait)
		:host /deep/
			canvas
				min-height 45vh

button
	position: absolute
	z-index 1
