<div id="home" class="wrapper">

	<div class="form">
		<h3>Anmäl dig till maillistan!</h3>
		<p><i>Få uppdatringar om vad som händer med siten!</i></p>
		<form #f="ngForm" (ngSubmit)="onSubmit(email)" novalidate>

				<input [name]="email" ngModel pattern=".+@.+\..+" required #email="ngModel" placeholder="Skriv din email här...">

				<button
				class="submit-btn"
				[ngClass]="{
				'disabled': !email.valid,
				'active': email.valid}">
					Submit
				</button>
	    </form>

			<p *ngIf="f.valid">
				<span id="valid" style="{color:green}">giltig emailadress</span>
			</p>
			<p *ngIf="!f.valid && email.value !== ''">
				<span id="notValid" style="{color:red}">ogiltig emailadress</span>
			</p>
			{{response}}
		</div>

</div>


<!-- <div id="home" class="wrapper">

	<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <input name="email" ngModel required #email="ngModel">
      <button>Submit</button>
    </form>

    <p>First name value: {{ email.value }}</p>
    <p>First name valid: {{ email.valid }}</p>
    <p>Form value: {{ f.value | json }}</p>
    <p>Form valid: {{ f.valid }}</p>
</div> -->
