<div class="wrapper">

	<!-- MENU OPTIONS -->
	<div>
		<my-nav></my-nav>
		<obs-comp></obs-comp>
		<ng-select class="ngSelect"
			[allowClear]="true"
			[items]="yrken"
			(data)="refreshValue($event, 'workgroup')"
			placeholder="Välj yrkesgrupp">
		</ng-select>

		<ng-select class="ngSelect"
			[allowClear]="true"
			[items]="years"
			(data)="refreshValue($event, 'yearFrom')"
			placeholder="år från">
		</ng-select>

		<ng-select class="ngSelect"
			[allowClear]="true"
			[items]="years"
			(data)="refreshValue($event, 'yearTo')"
			placeholder="år till">
		</ng-select>
		
		<button 
		(click)="getStatistics()" 
		[disabled]="!options.workgroup || !options.yearTo || !options.yearFrom">
			Hämta
		</button>
	</div>
<!-- 


ORGINAL SPARAD FÖR ATT EVENTULLT BEHÖVER JAG DISABLED

<ng-select [allowClear]="true"
			[items]="years"
			[disabled]="disabled"
			(data)="refreshValue($event, 'yearFrom')"
			(selected)="selected($event)"
			(removed)="removed($event)"
			(typed)="typed($event)"
			placeholder="år från">
		</ng-select> -->


		<!-- <form #f="ngForm">
		      <select name="yrkesgrupp" ngModel required>
		        <option value="" disabled>yrkesgrupp</option>
		        <option *ngFor="let yrke of yrken let ind = index" [ngValue]="{'yrke':yrke, 'index':ind}">
		          {{ yrke }}
		        </option>
		      </select>

		      <select name="yearFrom" #yearFrom="ngModel" ngModel required>
		        <option value="0" disabled>År från</option>
		        <option *ngFor="let year of years let i = index" [ngValue]="{'year':year, 'index':i}">
		          {{ year }}
		        </option>
		      </select>

		      <select name="yearTo" #yearTo="ngModel" ngModel required>
		        <option value="0" disabled>År till</option>
		        <option *ngFor="let year of years | slice:yearFrom.viewModel.index let j = index" [ngValue]="{'year':year, 'index':j}">
		          {{ year }}
		        </option>
		      </select>

		      <button (click)='onSubmit(f)'>submit</button>

		</form> -->



     <!-- <p>Form value: {{ f.value | json }}</p>
     <p>Form value: {{ yearFrom.viewModel.index }}</p>
     <p>To value: {{ yearTo.viewModel.index }}</p> -->

</div>