@import 'jeet'
@require '../../assets/css/variables'


.wrapper
	center(100%, pad:5%)
	color light-grey
	min-height 70vh
	
	.ngSelect
		font-size 1.6em
		
	h4
		margin: 25px 0px
		text-align: center

	.disabled
			background-color: transparent !important
	.active
		background-color: econ-blue
		color white
		outline: none

	.submit-btn
		center()
		margin-top: 15%
		border-radius 5px
		font-size 1.6em
		padding 5px 25px
	
	.source
		text-align center
		margin-top: 2%
		font-size xx-small
		a
			text-decoration underline
			color light-grey
		
		
	:host /deep/ 
		input
			width: 100%
			height: auto
			font-size 1em
			
		.form-control
			height: auto
			background-color: transparent
			box-shadow none
			border-width 2px 
			border-style solid
			border-radius 5px
			
		.ui-select-container
			margin-bottom: 30px
			outline none 
			
		.ui-select-placeholder
			font-size 1.6em
		
		.ui-select-match-text
			font-size 1.6em
			
		.ui-select-choices-row 
			a
				white-space: normal !important
				
		.text-muted
			color light-grey
			
		.menu-arrow
			width 30px
			margin 7px
			position: absolute
			right 10px
			z-index: -1
