@import '../../../node_modules/jeet/stylus/jeet/index.styl'
@import '../../../node_modules/rupture/rupture/index.styl'
@require '../../assets/css/variables'


.wrapper
	center(100%, pad:5%)
	color light-grey
	min-height 70vh
	+tablet()
		min-height 10vh
	+mobile()
		min-height 10vh
	.ngSelect
		font-size 1.6em

	h4
		margin: 25px 0px
		text-align: center
		+mobile(orientation: portrait)
			font-size 2.4em

	.disabled
			background-color: transparent !important
	.active
		background-color: econ-blue
		color white
		outline: none

	.submit-btn
		center()
		margin-top: 15%
		border-radius 5px
		font-size 1.6em
		padding 5px 25px
		+tablet()
			margin-top: 0
		+mobile(orientation: portrait)
			margin-top: 0
			padding 15px 35px
			font-size: 3em
		+mobile(orientation: landscape)
			margin-top: 0


	.source
		text-align center
		margin-top: 2%
		font-size xx-small
		a
			text-decoration underline
			color light-grey


	:host /deep/
		input
			width: 100%
			height: auto
			font-size 1em
			+mobile(orientation: portrait)
				font-size 2.8em

		.form-control
			height: auto
			background-color: transparent
			box-shadow none
			border-width 2px
			border-style solid
			border-radius 5px

		.ui-select-container
			margin-bottom: 30px
			outline none
			+mobile(orientation: portrait)
				margin-bottom: 50px

		.ui-select-placeholder
			font-size: 1.6em
			+mobile(orientation: portrait)
				font-size 4em

		.ui-select-match-text
			font-size 1.6em
			+mobile(orientation: portrait)
				font-size 4em

		.ui-select-choices
			+mobile(orientation: portrait)
				max-height: 600px
		.ui-select-choices-row
			+mobile(orientation: portrait)
				font-size 4em
			a
				white-space: normal !important

		.text-muted
			color light-grey
			+mobile(orientation: portrait)
				font-size 4em

		.menu-arrow
			width 30px
			margin 7px
			position: absolute
			right 10px
			z-index: -1
