<div [ngClass]="'input-menu'">

	<!-- BRAND/HOME link -->
	<a [routerLink]="['/']"
	(click)="menu = 'menu'"
	(click)="getData()"
	(click)="getOptions()">
		<h2>HEM</h2>
	</a>

	<!-- MENU OPTIONS -->
		<form #f="ngForm">
		      <select name="yrkesgrupp" ngModel required>
		        <option value="" disabled>yrkesgrupp</option>
		        <option *ngFor="let yrke of yrken let ind = index" [ngValue]="{'yrke':yrke, 'index':ind}">
		          {{ yrke }}
		        </option>
		      </select>

		      <select name="yearFrom" #yearFrom="ngModel" ngModel required>
		        <option value="0" disabled>År från</option>
		        <option *ngFor="let year of years let i = index" [ngValue]="{'year':year, 'index':i}">
		          {{ year }}
		        </option>
		      </select>

		      <select name="yearTo" #yearTo="ngModel" ngModel required>
		        <option value="0" disabled>År till</option>
		        <option *ngFor="let year of years | slice:yearFrom.viewModel.index let j = index" [ngValue]="{'year':year, 'index':j}">
		          {{ year }}
		        </option>
		      </select>

		      <button (click)='onSubmit(f)'>submit</button>

		</form>



     <p>Form value: {{ f.value | json }}</p>
     <p>Form value: {{ yearFrom.viewModel.index }}</p>
     <p>To value: {{ yearTo.viewModel.index }}</p>

</div>