@import 'jeet'
html
	min-height 100%

h2 
	font-size 3em
	color white
	text-align: center

.wrapper
	span(3/4)
	min-height 100vh
	background-color: #4abdac
	text-align: center
	//background-image url("/assets/img/54_colored-01.png")